<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery/jquery-3.2.0.js"></script>
	<script src="/static/jquery/jquery-3.2.0.min.js"></script>
	<script src="/static/jquery/jquery-3.2.0.min.map"></script>

    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/custom/header1.css">
</head>
<body>

<header class="header-two-bars">

	<div class="header-first-bar">

		<div class="header-limiter">

			<h1><a href="/pest_classification" class="selected">Automatic Pest Detection</a></h1>

			<nav>
				<a href="/pest_classification/pest_capture">Image Acquisition</a>
				<a href="/pest_classification/pest_detector">Pest Identification</a>
				<a href="#">Report</a>
				<a href="#">Team</a>
			</nav>

			<!--<a href="#" class="logout-button">Logout</a> -->
		</div>

	</div>

	<!-- <div class="header-second-bar">

		<div class="header-limiter">
			<h2><a href="#">Survey name</a></h2>

			<nav>
				<a href="#"><i class="fa fa-comments-o"></i> Questions</a>
				<a href="#"><i class="fa fa-file-text"></i> Results</a>
				<a href="#"><i class="fa fa-group"></i> Participants</a>
				<a href="#"><i class="fa fa-cogs"></i> Settings</a>
			</nav>

		</div>
	
	</div>
	-->


</header>



</body>
</html>